.container {
  text-align: center;
  margin: 0 auto;
  width: 95%;

  @media screen and (min-width: 768px) {
    width: 65%;
  }

  @media screen and (min-width: 1024px) {
    width: 30%;
  }

  input {
    width: 100%;
    padding: 1rem 2rem;
    border: 1px solid #e5e5e5;
    font-size: 16px;
  }
}