.title {
  text-align: center;
  color: rgb(252, 155, 57);
  opacity: 0.6;
  font-size: 38px;
}

.container {
  background-color: #fff;
  padding: 0;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  width: 95%;

  @media screen and (min-width: 768px) {
    width: 65%;
  }

  @media screen and (min-width: 1024px) {
    width: 30%;
  }
}

.information {
  text-align: center;
  margin: 32px auto;
  font-size: 14px;
  color: #888888;
}