.container {
  list-style: none;
  border-top: 1px solid #e5e5e5;
  cursor: pointer;
  padding: 1rem 2rem;
  text-decoration: none;
  overflow: hidden;
  overflow-wrap: break-word;
}

.isCompleted {
  text-decoration: line-through;
}

.error {
  text-align: center;
  margin-top: 10px;
  color: #ff5353;
}